/* Estilo Dark */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ffb74d;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e64a19;
}

.result {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

.result p {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
